html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #607D8B;
}

#set_input_wrapper {
    width: 100%;
}

#set_input {
    width: 80%;
    padding: 5% 10%;
}

#set_input input {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#set_fd_wrapper {
    width: 100%;
}

#set_fd {
    width: 80%;
    padding: 5% 10%;
}

#calculations_wrapper {
    width: 100%;
    overflow: hidden;
}


.title {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
}

#dependents {
    width: 100%;
    display: block;
}

.dep_container {
    width: 30%;
    display: block;
    margin: 1% auto ;
    white-space: nowrap;
}

#add_dep_button {
    width: 100%;
    padding-top: 2%;
    display: block;
}

#add_dep_button button{
    width:25%;
    display: inline-block;
}
#add_dep_button button:nth-child(1){
     margin-left: 25%;
 }

.lhs_input, .rhs_input, .arrow {
    display: inline-block;
}

.table_wrapper {
    width: 20%;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
}

.key {
    background-color: #26A69A !important;
}